<div class="product__item">
    <div class="item__top">
        <div>
            <% if(product.discount > 0) { %>
                <div class="discount">
                    <%= product.discount %> %
                </div>
            <% } %>
        </div>
        <div class="like">
            <img src="/images/icons/like-icon.png" alt="">
        </div>
    </div>
    <a class="product__img" href="">
        <img src="<%= product.img %>" alt="">
    </a>
    <div class="item__bottom">
        <a href="" class="title">
            <%= product.title %>
        </a>
        <div class="price">
            <% if(product.discount > 0){ %>
                <%= product.price - (product.price / 100 * product.discount) %>
             <% } else { %>
                <%= product.price %>
            <% } %>
        </div>
        <div class="add__to__card">
            <img src="/images/icons/add-btn.png" alt="">
        </div>
    </div>

</div>
