<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs', {title: 'Proudct cart'}) %>
<body>
    <%- include('./components/header/header.ejs') %>
    <div class="cart__container base__container"> 

        <% if (cart.length === 0) { %>
            <p>Ваша корзина пуста.</p>
        <% } else { %>
            <div class="cart__list">
                <% cart.forEach(product => { %>
                    <div class="cart__product__cart">
                        <div class="product__img">
                            <img src="<%- product.img %>" alt="<%- product.title %>">
                        </div>
                        <div class="product__info">
                            <div><%= product.title %></div>
                        </div>
                    </div>
                <% }) %>
            </ul>
        <% } %>
    </div>
</body>
</html>